.main-wrapper {
    height: 80vh;

    .main-container {
        max-width: 760px;
    }

    .main-content {
        min-width: 515px;
        background-color: $main-color;

        // Main text
        .main-text {
            padding-top: 32px;
            padding-left: 24px;

            .main-title {
                @include text($main-font, 30px, 900, $second-color);

                letter-spacing: 1px;
            }

            .main-paragraph {
                @include text($paragraph-font, 12px, 400, #121212);

                max-width: 450px;
                line-height: 18px;
            }
        }

        // Big image
        .main-gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 6%;

            .gallery-title {
                @include text($main-font, 15px, 400, $second-color);

                align-self: flex-start;
                margin-left: 4%;
                text-transform: uppercase;
            }

            /*
                Active JS 
            */
            .gallery-container {
                max-width: 475px;
                max-height: 375px;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.18);
                border: 1px solid rgba(158, 171, 182, 0.57);
                background-color: $main-color;

                .gallery-package {
                    @include size(473px, 266px);

                    position: relative;
                    overflow: hidden;
                }

                .images-container {
                    @include size(100%, 100%);

                    position: absolute;
                    top: 0;
                    left: 0;

                    .image-box {
                        position: absolute;

                        &_active {
                            z-index: 99
                        }

                        &:hover>.title-image {
                            opacity: 1;
                        }
                    }

                    .big-image {
                        display: block;
                        width: 473px;
                        height: 266px;
                    }

                    .title-image {
                        @include text($main-font, 12px, 700, $main-color);

                        width: 473px;
                        position: absolute;
                        bottom: 0px;
                        padding: 4px 17px;
                        opacity: 0;
                        transition-duration: 1s;
                        background-color: rgba(0, 0, 0, 0.8);
                    }

                    .subtitle-image {
                        @include text($paragraph-font, 11px, 400, $main-color);

                        display: block;
                        text-transform: uppercase;
                    }
                }
            }

            /*
                Disable JS 
            */
            .disable-js {

                .images-container {
                    animation: sliding #{$resultData}s infinite;

                    .image-box {
                        @include element();
                    }

                    .title-image {
                        opacity: 1;
                        transition-duration: 0s;
                    }
                }
            }
        }
    }

    // Text and map
    .main-sidebar {
        display: flex;
        height: 100%;
        margin-left: 8px;
        background-color: rgba(242, 242, 242, 0.95);

        .aside-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 79px;
            margin-left: 25px;

            .line {
                width: 117px;
                height: 2px;
                background-color: $additional-color;
            }

            .title {
                @include text($main-font, 14px, 400, $additional-color);

                margin-top: 6px;
                text-transform: uppercase;
            }

            .image-map {
                max-width: 195px;
                max-height: 111px;
                margin-top: 4px;
            }

            .paragraph {
                @include text($paragraph-font, 11px, 400, $additional-color);

                width: 161px;
                margin-top: 8px;
            }
        }
    }
}

/* Media queries */
// Mobile
@media (max-width: 767px) {
    .main-wrapper {

        .main-content {
            min-width: 10vw;

            .main-text {
                text-align: center;
                padding-left: 0px;

                .main-title {
                    font-size: 25px;
                }

                .main-paragraph {
                    padding: 0 15px;
                }
            }

            .main-gallery {

                .gallery-title {
                    align-self: center;
                    margin-left: 0%;
                }

                .gallery-container {

                    .images-container {

                        .big-image {
                            max-width: 80vw;
                        }

                        .title-image {
                            width: 80vw;
                            opacity: 1;
                            transition: 0s;
                        }
                    }
                }
            }
        }

        .main-sidebar {
            margin-left: 0px;

            .aside-box {
                align-items: center;
                margin-top: 29px;
                margin-left: 0px;
                width: 100%;

                .title {
                    font-size: 16px;
                }

                .paragraph {
                    width: 200px;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 992px) {
    .main-wrapper {

        .main-content {

            .main-gallery {

                .gallery-container {

                    .images-container {

                        .title-image {
                            opacity: 1;
                            transition: 0s;
                        }
                    }
                }
            }
        }
    }
}