.navigation {
    background-color: inherit;

    &-container {
        display: flex;
        justify-content: flex-start;
        max-width: 760px;
        margin-top: 10px;
        margin-bottom: 6px;

        .navbar-list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            width: 100%;

            .navbar-item {
                @include size(142px, 33px);

                list-style: none;

                &:hover {
                    background-color: $second-color;

                    &>.navbar-link {
                        color: $additional-color;
                        text-shadow: 0 0 4px rgba(29, 158, 217, 0.75);
                        -moz-text-shadow: 0 0 4px rgba(29, 158, 217, 0.75);
                        -o-text-shadow: 0 0 4px rgba(29, 158, 217, 0.75);
                        -webkit-text-shadow: 0 0 4px rgba(29, 158, 217, 0.75);
                    }
                }

                .navbar-link {
                    @include text($main-font, 13px, 400, $main-color);
                    @include size(142px, 33px);

                    display: inline-block;
                    text-align: center;
                    padding: 8px 10px;
                    outline: none;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {}

                }
            }
        }
    }
}

//Disable hambuger menu
.hamburger-menu {
    display: none;
}

.main-wrapper {
    // display: flex;
    // justify-content: center;
    height: 50vh;


    .main-container {
        max-width: 760px;
    }

    .main-content {
        min-width: 515px;
        height: 50vh;
        background-color: red;
    }

    .main-sidebar {
        display: flex;
        // max-width: calc(760px - 515px);
        height: 50vh;
        background-color: green;
    }
}