/* Disable JS - slider */
$slides: 10;
$time: 4;
$trans: 1;
$resultData: ($time + $trans) * $slides;

@keyframes sliding {
    @for $i from 0 through $slides - 1 {
        $timer: ($time + $trans) * $i;
        $next: $timer + $time;

        #{($timer / $resultData) * 100}% {
            transform: translateX($i * -100%);
        }

        #{($next / $resultData) * 100}% {
            transform: translateX($i * -100%);
        }
    }

    100% {
        transform: translateX($slides * -100%);
    }
}

@keyframes firstchange {
    0% {
        left: 0%;
    }

    50% {
        left: 0%;
    }

    51% {
        left: $slides * 100%;
    }

    100% {
        left: $slides * 100%;
    }
}

@mixin element() {
    &:first-child {
        left: 0;
        z-index: 0;
        animation: firstchange #{$resultData}s infinite;
    }

    @for $i from 1 through $slides - 1 {
        &:nth-child(#{$i + 1}) {
            left: $i * 100%;
            z-index: $i;
        }
    }
}